*~
*.elc
plugins/cedet/ede/proj-project-compile-script
plugins/cedet/semantic/semantic-grammar-wy.el
plugins/cedet/cogre/COGRE-compile-script
plugins/cedet/cogre/Mode-compile-script
plugins/cedet/cogre/autoloads-compile-script
plugins/cedet/cogre/cogre-loaddefs.el
plugins/cedet/cogre/cogre.info
plugins/cedet/cogre/dot-compile-script
plugins/cedet/cogre/grammar-make-script
plugins/cedet/cogre/hacks-compile-script
plugins/cedet/cogre/init-compile-script
plugins/cedet/cogre/utests-compile-script
plugins/cedet/cogre/wisent-dot-wy.el
plugins/cedet/common/autoloads-compile-script
plugins/cedet/common/cedet-loaddefs.el
plugins/cedet/common/cedet.info
plugins/cedet/common/common-compile-script
plugins/cedet/common/init-compile-script
plugins/cedet/common/setup-compile-script
plugins/cedet/common/tests-compile-script
plugins/cedet/contrib/autoloads-compile-script
plugins/cedet/contrib/contrib-loaddefs.el
plugins/cedet/contrib/grammar-make-script
plugins/cedet/contrib/init-compile-script
plugins/cedet/contrib/lisp-compile-script
plugins/cedet/contrib/setup-compile-script
plugins/cedet/contrib/wisent-csharp-wy.el
plugins/cedet/contrib/wisent-php-wy.el
plugins/cedet/contrib/wisent-ruby-wy.el
plugins/cedet/ede/autoloads-compile-script
plugins/cedet/ede/aux-lisp-compile-script
plugins/cedet/ede/ede-compile-script
plugins/cedet/ede/ede-loaddefs.el
plugins/cedet/ede/ede.info
plugins/cedet/ede/init-compile-script
plugins/cedet/ede/projects-compile-script
plugins/cedet/eieio/autoloads-compile-script
plugins/cedet/eieio/eieio-compile-script
plugins/cedet/eieio/eieio-loaddefs.el
plugins/cedet/eieio/eieio.info
plugins/cedet/eieio/examples-compile-script
plugins/cedet/eieio/init-compile-script
plugins/cedet/semantic/Analyzer-compile-script
plugins/cedet/semantic/Database-compile-script
plugins/cedet/semantic/Languages-compile-script
plugins/cedet/semantic/autoloads-compile-script
plugins/cedet/semantic/bovine/bovinator-compile-script
plugins/cedet/semantic/bovine/grammar-make-script
plugins/cedet/semantic/bovine/languages-compile-script
plugins/cedet/semantic/bovine/semantic-c-by.el
plugins/cedet/semantic/bovine/semantic-erlang-by.el
plugins/cedet/semantic/bovine/semantic-f90-by.el
plugins/cedet/semantic/bovine/semantic-make-by.el
plugins/cedet/semantic/bovine/semantic-scm-by.el
plugins/cedet/semantic/ctags/ctags-compile-script
plugins/cedet/semantic/doc/bovine.info
plugins/cedet/semantic/doc/grammar-fw.info
plugins/cedet/semantic/doc/semantic-appdev.info
plugins/cedet/semantic/doc/semantic-langdev.info
plugins/cedet/semantic/doc/semantic-user.info
plugins/cedet/semantic/doc/semantic.info
plugins/cedet/semantic/doc/wisent.info
plugins/cedet/semantic/grammar-make-script
plugins/cedet/semantic/init-compile-script
plugins/cedet/semantic/semantic-compile-script
plugins/cedet/semantic/semantic-loaddefs.el
plugins/cedet/semantic/symref/symref-compile-script
plugins/cedet/semantic/tests-compile-script
plugins/cedet/semantic/tools-compile-script
plugins/cedet/semantic/utils-compile-script
plugins/cedet/semantic/wisent/grammar-make-script
plugins/cedet/semantic/wisent/languages-compile-script
plugins/cedet/semantic/wisent/tools-compile-script
plugins/cedet/semantic/wisent/wisent-awk-wy.el
plugins/cedet/semantic/wisent/wisent-calc-wy.el
plugins/cedet/semantic/wisent/wisent-cim-wy.el
plugins/cedet/semantic/wisent/wisent-compile-script
plugins/cedet/semantic/wisent/wisent-java-tags-wy.el
plugins/cedet/semantic/wisent/wisent-java-wy.el
plugins/cedet/semantic/wisent/wisent-javascript-jv-wy.el
plugins/cedet/semantic/wisent/wisent-python-wy.el
plugins/cedet/speedbar/autoloads-compile-script
plugins/cedet/speedbar/init-compile-script
plugins/cedet/speedbar/speedbar-compile-script
plugins/cedet/speedbar/speedbar-loaddefs.el
plugins/cedet/speedbar/speedbar.info
plugins/cedet/srecode/autoloads-compile-script
plugins/cedet/srecode/document-compile-script
plugins/cedet/srecode/grammar-make-script
plugins/cedet/srecode/srecode-compile-script
plugins/cedet/srecode/srecode-loaddefs.el
plugins/cedet/srecode/srecode-template-wy.el
plugins/cedet/srecode/srecode.info
plugins/cedet/srecode/tests-compile-script
plugins/cedet/tests/Lisp-compile-script
